<a href="https://colab.research.google.com/github/pcamarillor/O2024_ESI3914O/blob/team8_lab04/Lab04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Movies-Activity").getOrCreate()

df_movies = spark.read \
            .option("inferSchema", "true") \
            .json("datasets/movies.json")

In [5]:
df_movies.show()

+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+
|       Creative_Type|         Director|   Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+
|                NULL|             NULL|      Gramercy|        6.1|      1071|          R|       NULL|          8000000|   12-Jun-98|                  NULL|            NULL|               NULL|      The Land Girls|        NULL|  146083|         146083|
|                NULL|             NULL|        Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  NULL|            NULL|               NULL|First Love, Last ...|        NULL|   10876|          10876|
|                NULL|             NULL|     Lionsgate|        6.8|       865|       NULL|     Comedy|           250000|   28-Aug-98|                  NULL|            NULL|               NULL|I Married a Stran...|        NULL|  203134|         203134|
|                NULL|             NULL|     Fine Line|       NULL|      NULL|       NULL|     Comedy|           300000|   11-Sep-98|                    13|            NULL|               NULL|Let's Talk About Sex|        NULL|  373615|         373615|
|Contemporary Fiction|             NULL|       Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            NULL|Original Screenplay|                Slam|        NULL| 1009819|        1087521|
|                NULL|             NULL|           MGM|       NULL|      NULL|       NULL|       NULL|          1600000|   15-Jan-99|                  NULL|            NULL|               NULL| Mississippi Mermaid|        NULL|   24551|        2624551|
|                NULL|Christopher Nolan|     Zeitgeist|        7.7|     15133|          R|       NULL|             6000|    4-Apr-99|                  NULL|            NULL|               NULL|           Following|        NULL|   44705|          44705|
|Contemporary Fiction|             NULL|       Artisan|        3.8|       353|          R|     Comedy|          1600000|    9-Apr-99|                  NULL|            NULL|Original Screenplay|             Foolish|        NULL| 6026908|        6026908|
|                NULL|   Roman Polanski|          NULL|        5.8|      3275|          R|       NULL|         40000000|    1-Jul-86|                    25|            NULL|               NULL|             Pirates|        NULL| 1641825|        6341825|
|                NULL|             NULL|          NULL|        7.0|      2906|       NULL|       NULL|          6000000|   31-Dec-46|                    86|            NULL|               NULL|     Duel in the Sun|        NULL|20400000|       20400000|
|                NULL|             NULL|          NULL|        7.0|      4035|       NULL|       NULL|          1000000|    7-Oct-63|                    81|            NULL|               NULL|           Tom Jones|        NULL|37600000|       37600000|
|                NULL|             NULL| Sony Pictures|        7.5|      9111|       NULL|    Musical|         10000000|   11-Dec-68|                    84|            NULL|               NULL|             Oliver!|        NULL|37402877|       37402877|
|                NULL|             NULL|     Universal|        8.4|     82786|       NULL|       NULL|          2000000|   25-Dec-62|                    97|            NULL|               NULL|To Kill A Mocking...|        NULL|13129846|       13129846|
|                NULL|Richard Fleischer|          NULL|       NULL|      NULL|       NULL|       NULL|         25000000|   23-Sep-70|                  NULL|            NULL|               NULL|    Tora, Tora, Tora|        NULL|29548291|       29548291|
|                NULL|             NULL|          NULL|        6.8|      1532|       NULL|       NULL|           100000|    1-Mar-87|                    87|            NULL|               NULL|   Hollywood Shuffle|        NULL| 5228617|        5228617|
|                NULL|             NULL|          NULL|       NULL|      NULL|       NULL|       NULL|           100000|   17-Sep-20|                  NULL|            NULL|               NULL|Over the Hill to ...|        NULL| 3000000|        3000000|
|                NULL|             NULL|          NULL|        7.0|       451|       NULL|       NULL|          5200000|    1-Aug-44|                  NULL|            NULL|               NULL|              Wilson|        NULL| 2000000|        2000000|
|                NULL|    Blake Edwards|          NULL|        6.1|       858|       NULL|       NULL|         22000000|    1-Jan-70|                  NULL|            NULL|               NULL|        Darling Lili|        NULL| 5000000|        5000000|
|                NULL|             NULL|          NULL|        2.5|      1677|       NULL|       NULL|         13500000|    5-Oct-56|                    90|            NULL|               NULL|The Ten Commandments|        NULL|80000000|       80000000|
|                NULL|     Sidney Lumet|United Artists|        8.9|    119101|       NULL|      Drama|           340000|   13-Apr-57|                  NULL|            NULL|Original Screenplay|        12 Angry Men|        NULL|       0|              0|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+
only showing top 20 rows

In [6]:
df_solution_1 = df_movies.withColumn('ProfitMargin',
 (df_movies['Worldwide_Gross']-df_movies['Production_Budget']) / df_movies['Production_Budget'])

In [7]:
df_solution_1.show()

+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+-------------------+
|       Creative_Type|         Director|   Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|       ProfitMargin|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+-------------------+
|                NULL|             NULL|      Gramercy|        6.1|      1071|          R|       NULL|          8000000|   12-Jun-98|                  NULL|            NULL|               NULL|      The Land Girls|        NULL|  146083|         146083|       -0.981739625|
|                NULL|             NULL|        Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  NULL|            NULL|               NULL|First Love, Last ...|        NULL|   10876|          10876|-0.9637466666666666|
|                NULL|             NULL|     Lionsgate|        6.8|       865|       NULL|     Comedy|           250000|   28-Aug-98|                  NULL|            NULL|               NULL|I Married a Stran...|        NULL|  203134|         203134|          -0.187464|
|                NULL|             NULL|     Fine Line|       NULL|      NULL|       NULL|     Comedy|           300000|   11-Sep-98|                    13|            NULL|               NULL|Let's Talk About Sex|        NULL|  373615|         373615|0.24538333333333334|
|Contemporary Fiction|             NULL|       Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            NULL|Original Screenplay|                Slam|        NULL| 1009819|        1087521|           0.087521|
|                NULL|             NULL|           MGM|       NULL|      NULL|       NULL|       NULL|          1600000|   15-Jan-99|                  NULL|            NULL|               NULL| Mississippi Mermaid|        NULL|   24551|        2624551|        0.640344375|
|                NULL|Christopher Nolan|     Zeitgeist|        7.7|     15133|          R|       NULL|             6000|    4-Apr-99|                  NULL|            NULL|               NULL|           Following|        NULL|   44705|          44705|  6.450833333333334|
|Contemporary Fiction|             NULL|       Artisan|        3.8|       353|          R|     Comedy|          1600000|    9-Apr-99|                  NULL|            NULL|Original Screenplay|             Foolish|        NULL| 6026908|        6026908|          2.7668175|
|                NULL|   Roman Polanski|          NULL|        5.8|      3275|          R|       NULL|         40000000|    1-Jul-86|                    25|            NULL|               NULL|             Pirates|        NULL| 1641825|        6341825|       -0.841454375|
|                NULL|             NULL|          NULL|        7.0|      2906|       NULL|       NULL|          6000000|   31-Dec-46|                    86|            NULL|               NULL|     Duel in the Sun|        NULL|20400000|       20400000|                2.4|
|                NULL|             NULL|          NULL|        7.0|      4035|       NULL|       NULL|          1000000|    7-Oct-63|                    81|            NULL|               NULL|           Tom Jones|        NULL|37600000|       37600000|               36.6|
|                NULL|             NULL| Sony Pictures|        7.5|      9111|       NULL|    Musical|         10000000|   11-Dec-68|                    84|            NULL|               NULL|             Oliver!|        NULL|37402877|       37402877|          2.7402877|
|                NULL|             NULL|     Universal|        8.4|     82786|       NULL|       NULL|          2000000|   25-Dec-62|                    97|            NULL|               NULL|To Kill A Mocking...|        NULL|13129846|       13129846|           5.564923|
|                NULL|Richard Fleischer|          NULL|       NULL|      NULL|       NULL|       NULL|         25000000|   23-Sep-70|                  NULL|            NULL|               NULL|    Tora, Tora, Tora|        NULL|29548291|       29548291|         0.18193164|
|                NULL|             NULL|          NULL|        6.8|      1532|       NULL|       NULL|           100000|    1-Mar-87|                    87|            NULL|               NULL|   Hollywood Shuffle|        NULL| 5228617|        5228617|           51.28617|
|                NULL|             NULL|          NULL|       NULL|      NULL|       NULL|       NULL|           100000|   17-Sep-20|                  NULL|            NULL|               NULL|Over the Hill to ...|        NULL| 3000000|        3000000|               29.0|
|                NULL|             NULL|          NULL|        7.0|       451|       NULL|       NULL|          5200000|    1-Aug-44|                  NULL|            NULL|               NULL|              Wilson|        NULL| 2000000|        2000000|-0.6153846153846154|
|                NULL|    Blake Edwards|          NULL|        6.1|       858|       NULL|       NULL|         22000000|    1-Jan-70|                  NULL|            NULL|               NULL|        Darling Lili|        NULL| 5000000|        5000000|-0.7727272727272727|
|                NULL|             NULL|          NULL|        2.5|      1677|       NULL|       NULL|         13500000|    5-Oct-56|                    90|            NULL|               NULL|The Ten Commandments|        NULL|80000000|       80000000|  4.925925925925926|
|                NULL|     Sidney Lumet|United Artists|        8.9|    119101|       NULL|      Drama|           340000|   13-Apr-57|                  NULL|            NULL|Original Screenplay|        12 Angry Men|        NULL|       0|              0|               -1.0|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+-------------------+
only showing top 20 rows

In [8]:
from pyspark.sql.functions import when
df_solution_2 = df_movies.withColumn('Box_Office_Hit', when(df_movies['Worldwide_Gross'] > 2 * df_movies['Production_Budget'], "Hit").otherwise("Flop"))

In [9]:
df_solution_2.show()

+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+--------------+
|       Creative_Type|         Director|   Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|Box_Office_Hit|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+--------------+
|                NULL|             NULL|      Gramercy|        6.1|      1071|          R|       NULL|          8000000|   12-Jun-98|                  NULL|            NULL|               NULL|      The Land Girls|        NULL|  146083|         146083|          Flop|
|                NULL|             NULL|        Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  NULL|            NULL|               NULL|First Love, Last ...|        NULL|   10876|          10876|          Flop|
|                NULL|             NULL|     Lionsgate|        6.8|       865|       NULL|     Comedy|           250000|   28-Aug-98|                  NULL|            NULL|               NULL|I Married a Stran...|        NULL|  203134|         203134|          Flop|
|                NULL|             NULL|     Fine Line|       NULL|      NULL|       NULL|     Comedy|           300000|   11-Sep-98|                    13|            NULL|               NULL|Let's Talk About Sex|        NULL|  373615|         373615|          Flop|
|Contemporary Fiction|             NULL|       Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            NULL|Original Screenplay|                Slam|        NULL| 1009819|        1087521|          Flop|
|                NULL|             NULL|           MGM|       NULL|      NULL|       NULL|       NULL|          1600000|   15-Jan-99|                  NULL|            NULL|               NULL| Mississippi Mermaid|        NULL|   24551|        2624551|          Flop|
|                NULL|Christopher Nolan|     Zeitgeist|        7.7|     15133|          R|       NULL|             6000|    4-Apr-99|                  NULL|            NULL|               NULL|           Following|        NULL|   44705|          44705|           Hit|
|Contemporary Fiction|             NULL|       Artisan|        3.8|       353|          R|     Comedy|          1600000|    9-Apr-99|                  NULL|            NULL|Original Screenplay|             Foolish|        NULL| 6026908|        6026908|           Hit|
|                NULL|   Roman Polanski|          NULL|        5.8|      3275|          R|       NULL|         40000000|    1-Jul-86|                    25|            NULL|               NULL|             Pirates|        NULL| 1641825|        6341825|          Flop|
|                NULL|             NULL|          NULL|        7.0|      2906|       NULL|       NULL|          6000000|   31-Dec-46|                    86|            NULL|               NULL|     Duel in the Sun|        NULL|20400000|       20400000|           Hit|
|                NULL|             NULL|          NULL|        7.0|      4035|       NULL|       NULL|          1000000|    7-Oct-63|                    81|            NULL|               NULL|           Tom Jones|        NULL|37600000|       37600000|           Hit|
|                NULL|             NULL| Sony Pictures|        7.5|      9111|       NULL|    Musical|         10000000|   11-Dec-68|                    84|            NULL|               NULL|             Oliver!|        NULL|37402877|       37402877|           Hit|
|                NULL|             NULL|     Universal|        8.4|     82786|       NULL|       NULL|          2000000|   25-Dec-62|                    97|            NULL|               NULL|To Kill A Mocking...|        NULL|13129846|       13129846|           Hit|
|                NULL|Richard Fleischer|          NULL|       NULL|      NULL|       NULL|       NULL|         25000000|   23-Sep-70|                  NULL|            NULL|               NULL|    Tora, Tora, Tora|        NULL|29548291|       29548291|          Flop|
|                NULL|             NULL|          NULL|        6.8|      1532|       NULL|       NULL|           100000|    1-Mar-87|                    87|            NULL|               NULL|   Hollywood Shuffle|        NULL| 5228617|        5228617|           Hit|
|                NULL|             NULL|          NULL|       NULL|      NULL|       NULL|       NULL|           100000|   17-Sep-20|                  NULL|            NULL|               NULL|Over the Hill to ...|        NULL| 3000000|        3000000|           Hit|
|                NULL|             NULL|          NULL|        7.0|       451|       NULL|       NULL|          5200000|    1-Aug-44|                  NULL|            NULL|               NULL|              Wilson|        NULL| 2000000|        2000000|          Flop|
|                NULL|    Blake Edwards|          NULL|        6.1|       858|       NULL|       NULL|         22000000|    1-Jan-70|                  NULL|            NULL|               NULL|        Darling Lili|        NULL| 5000000|        5000000|          Flop|
|                NULL|             NULL|          NULL|        2.5|      1677|       NULL|       NULL|         13500000|    5-Oct-56|                    90|            NULL|               NULL|The Ten Commandments|        NULL|80000000|       80000000|           Hit|
|                NULL|     Sidney Lumet|United Artists|        8.9|    119101|       NULL|      Drama|           340000|   13-Apr-57|                  NULL|            NULL|Original Screenplay|        12 Angry Men|        NULL|       0|              0|          Flop|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+--------------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import when, col, to_date, year
df_movies = df_movies.withColumn("Release_Date_Formatted", 
    when(col("Release_Date").rlike(r'^[0-9]{2}-[A-Za-z]{3}-[0-9]{2}$'), to_date(col("Release_Date"), "dd-MMM-yy"))
    .when(col("Release_Date").rlike(r'^[0-9]{1}-[A-Za-z]{3}-[0-9]{2}$'), to_date(col("Release_Date"), "d-MMM-yy"))
    .when(col("Release_Date").rlike(r'^\d{4}-\d{2}-\d{2}$'), to_date(col("Release_Date"), "yyyy-MM-dd"))
    .when(col("Release_Date").rlike(r'^\d{2}/\d{2}/\d{2}$'), to_date(col("Release_Date"), "MM/dd/yy"))
    .otherwise(None)
)

df_movies = df_movies.withColumn("Release_Year", 
    when(year(col("Release_Date_Formatted")) > 2000, year(col("Release_Date_Formatted")) - 100)
    .otherwise(year(col("Release_Date_Formatted")))
)

df_movies.select("Title", "Release_Date", "Release_Date_Formatted", "Release_Year").show(truncate=False)

+------------------------------+------------+----------------------+------------+
|Title                         |Release_Date|Release_Date_Formatted|Release_Year|
+------------------------------+------------+----------------------+------------+
|The Land Girls                |12-Jun-98   |2098-06-12            |1998        |
|First Love, Last Rites        |7-Aug-98    |2098-08-07            |1998        |
|I Married a Strange Person    |28-Aug-98   |2098-08-28            |1998        |
|Let's Talk About Sex          |11-Sep-98   |2098-09-11            |1998        |
|Slam                          |9-Oct-98    |2098-10-09            |1998        |
|Mississippi Mermaid           |15-Jan-99   |2099-01-15            |1999        |
|Following                     |4-Apr-99    |2099-04-04            |1999        |
|Foolish                       |9-Apr-99    |2099-04-09            |1999        |
|Pirates                       |1-Jul-86    |2086-07-01            |1986        |
|Duel in the Sun               |31-Dec-46   |2046-12-31            |1946        |
|Tom Jones                     |7-Oct-63    |2063-10-07            |1963        |
|Oliver!                       |11-Dec-68   |2068-12-11            |1968        |
|To Kill A Mockingbird         |25-Dec-62   |2062-12-25            |1962        |
|Tora, Tora, Tora              |23-Sep-70   |2070-09-23            |1970        |
|Hollywood Shuffle             |1-Mar-87    |2087-03-01            |1987        |
|Over the Hill to the Poorhouse|17-Sep-20   |2020-09-17            |1920        |
|Wilson                        |1-Aug-44    |2044-08-01            |1944        |
|Darling Lili                  |1-Jan-70    |2070-01-01            |1970        |
|The Ten Commandments          |5-Oct-56    |2056-10-05            |1956        |
|12 Angry Men                  |13-Apr-57   |2057-04-13            |1957        |
+------------------------------+------------+----------------------+------------+
only showing top 20 rows

In [11]:
from pyspark.sql.functions import when
import pyspark.sql.functions as F 
# Number 4
df_4 = df_movies.withColumn("IMDB_Rating_Category",
                            when(df_movies["IMDB_Rating"] >= 7.0, "High")\
                            .when(df_movies["IMDB_Rating"] < 5.0, "Low")\
                            .otherwise("Medium"))

df_4.show()

+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+----------------------+------------+--------------------+
|       Creative_Type|         Director|   Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|Release_Date_Formatted|Release_Year|IMDB_Rating_Category|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+----------------------+------------+--------------------+
|                NULL|             NULL|      Gramercy|        6.1|      1071|          R|       NULL|          8000000|   12-Jun-98|                  NULL|            NULL|               NULL|      The Land Girls|        NULL|  146083|         146083|            2098-06-12|        1998|              Medium|
|                NULL|             NULL|        Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  NULL|            NULL|               NULL|First Love, Last ...|        NULL|   10876|          10876|            2098-08-07|        1998|              Medium|
|                NULL|             NULL|     Lionsgate|        6.8|       865|       NULL|     Comedy|           250000|   28-Aug-98|                  NULL|            NULL|               NULL|I Married a Stran...|        NULL|  203134|         203134|            2098-08-28|        1998|              Medium|
|                NULL|             NULL|     Fine Line|       NULL|      NULL|       NULL|     Comedy|           300000|   11-Sep-98|                    13|            NULL|               NULL|Let's Talk About Sex|        NULL|  373615|         373615|            2098-09-11|        1998|              Medium|
|Contemporary Fiction|             NULL|       Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            NULL|Original Screenplay|                Slam|        NULL| 1009819|        1087521|            2098-10-09|        1998|                 Low|
|                NULL|             NULL|           MGM|       NULL|      NULL|       NULL|       NULL|          1600000|   15-Jan-99|                  NULL|            NULL|               NULL| Mississippi Mermaid|        NULL|   24551|        2624551|            2099-01-15|        1999|              Medium|
|                NULL|Christopher Nolan|     Zeitgeist|        7.7|     15133|          R|       NULL|             6000|    4-Apr-99|                  NULL|            NULL|               NULL|           Following|        NULL|   44705|          44705|            2099-04-04|        1999|                High|
|Contemporary Fiction|             NULL|       Artisan|        3.8|       353|          R|     Comedy|          1600000|    9-Apr-99|                  NULL|            NULL|Original Screenplay|             Foolish|        NULL| 6026908|        6026908|            2099-04-09|        1999|                 Low|
|                NULL|   Roman Polanski|          NULL|        5.8|      3275|          R|       NULL|         40000000|    1-Jul-86|                    25|            NULL|               NULL|             Pirates|        NULL| 1641825|        6341825|            2086-07-01|        1986|              Medium|
|                NULL|             NULL|          NULL|        7.0|      2906|       NULL|       NULL|          6000000|   31-Dec-46|                    86|            NULL|               NULL|     Duel in the Sun|        NULL|20400000|       20400000|            2046-12-31|        1946|                High|
|                NULL|             NULL|          NULL|        7.0|      4035|       NULL|       NULL|          1000000|    7-Oct-63|                    81|            NULL|               NULL|           Tom Jones|        NULL|37600000|       37600000|            2063-10-07|        1963|                High|
|                NULL|             NULL| Sony Pictures|        7.5|      9111|       NULL|    Musical|         10000000|   11-Dec-68|                    84|            NULL|               NULL|             Oliver!|        NULL|37402877|       37402877|            2068-12-11|        1968|                High|
|                NULL|             NULL|     Universal|        8.4|     82786|       NULL|       NULL|          2000000|   25-Dec-62|                    97|            NULL|               NULL|To Kill A Mocking...|        NULL|13129846|       13129846|            2062-12-25|        1962|                High|
|                NULL|Richard Fleischer|          NULL|       NULL|      NULL|       NULL|       NULL|         25000000|   23-Sep-70|                  NULL|            NULL|               NULL|    Tora, Tora, Tora|        NULL|29548291|       29548291|            2070-09-23|        1970|              Medium|
|                NULL|             NULL|          NULL|        6.8|      1532|       NULL|       NULL|           100000|    1-Mar-87|                    87|            NULL|               NULL|   Hollywood Shuffle|        NULL| 5228617|        5228617|            2087-03-01|        1987|              Medium|
|                NULL|             NULL|          NULL|       NULL|      NULL|       NULL|       NULL|           100000|   17-Sep-20|                  NULL|            NULL|               NULL|Over the Hill to ...|        NULL| 3000000|        3000000|            2020-09-17|        1920|              Medium|
|                NULL|             NULL|          NULL|        7.0|       451|       NULL|       NULL|          5200000|    1-Aug-44|                  NULL|            NULL|               NULL|              Wilson|        NULL| 2000000|        2000000|            2044-08-01|        1944|                High|
|                NULL|    Blake Edwards|          NULL|        6.1|       858|       NULL|       NULL|         22000000|    1-Jan-70|                  NULL|            NULL|               NULL|        Darling Lili|        NULL| 5000000|        5000000|            2070-01-01|        1970|              Medium|
|                NULL|             NULL|          NULL|        2.5|      1677|       NULL|       NULL|         13500000|    5-Oct-56|                    90|            NULL|               NULL|The Ten Commandments|        NULL|80000000|       80000000|            2056-10-05|        1956|                 Low|
|                NULL|     Sidney Lumet|United Artists|        8.9|    119101|       NULL|      Drama|           340000|   13-Apr-57|                  NULL|            NULL|Original Screenplay|        12 Angry Men|        NULL|       0|              0|            2057-04-13|        1957|                High|
+--------------------+-----------------+--------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+----------------------+------------+--------------------+
only showing top 20 rows

In [13]:
import pyspark.sql.functions as F 
# Number 5
df_5 = df_movies.groupBy("Distributor").agg(F.avg("IMDB_Rating"))

df_5.show()

+--------------------+------------------+
|         Distributor|  avg(IMDB_Rating)|
+--------------------+------------------+
|Oscilloscope Pict...|               6.2|
|               Savoy| 6.533333333333334|
|             Embassy|              NULL|
|         Fader Films|               6.5|
|       October Films|               6.4|
|              Strand| 6.322222222222223|
|             Trimark| 5.085714285714286|
|              Matson|               7.3|
|      Cinema Service|               7.1|
| Weinstein/Dimension|5.7250000000000005|
|Providence Entert...|               3.3|
|      Big Fat Movies|               3.2|
|     Newmarket Films|7.4142857142857155|
|    First Run/Icarus|              NULL|
|  Cloud Ten Pictures|               5.0|
|   Outrider Pictures|               7.0|
|     Slowhand Cinema|               5.3|
|   Paramount Vantage|               7.2|
|   Magnolia Pictures|            6.4625|
|  Kino International|6.0200000000000005|
+--------------------+------------------+
only showing top 20 rows