<a href="https://colab.research.google.com/github/pcamarillor/O2024_ESI3914O/blob/team4_movie_analysis/movie_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pyspark

In [52]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, to_date, year

spark = SparkSession.builder.appName("Movies-Activity").getOrCreate()

df_movies = spark.read \
            .option("inferSchema", "true") \
            .json("./movies.json")

df_movies.show(n=7)

+--------------------+-----------------+-----------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+
|       Creative_Type|         Director|Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|
+--------------------+-----------------+-----------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+
|                NULL|             NULL|   Gramercy|        6.1|      1071|          R|       NULL|          8000000|   12-Jun-98|                  NULL|            NULL|               NULL|      The Land Girls|        NULL|  146083|         146083|
|                NULL|             NULL|     Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  NULL|            NULL|               NULL|First Love, Last ...|        NULL|   10876|          10876|
|                NULL|             NULL|  Lionsgate|        6.8|       865|       NULL|     Comedy|           250000|   28-Aug-98|                  NULL|            NULL|               NULL|I Married a Stran...|        NULL|  203134|         203134|
|                NULL|             NULL|  Fine Line|       NULL|      NULL|       NULL|     Comedy|           300000|   11-Sep-98|                    13|            NULL|               NULL|Let's Talk About Sex|        NULL|  373615|         373615|
|Contemporary Fiction|             NULL|    Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            NULL|Original Screenplay|                Slam|        NULL| 1009819|        1087521|
|                NULL|             NULL|        MGM|       NULL|      NULL|       NULL|       NULL|          1600000|   15-Jan-99|                  NULL|            NULL|               NULL| Mississippi Mermaid|        NULL|   24551|        2624551|
|                NULL|Christopher Nolan|  Zeitgeist|        7.7|     15133|          R|       NULL|             6000|    4-Apr-99|                  NULL|            NULL|               NULL|           Following|        NULL|   44705|          44705|
+--------------------+-----------------+-----------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+
only showing top 7 rows

In [23]:
# Get Profit margin
df_movies = df_movies.withColumn('Profit_Margin', (df_movies.Worldwide_Gross - df_movies.Production_Budget) / df_movies.Production_Budget)

df_movies.show(n=7)

+--------------------+-----------------+-----------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+-------------------+
|       Creative_Type|         Director|Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|      Profit_Margin|
+--------------------+-----------------+-----------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+-------------------+
|                NULL|             NULL|   Gramercy|        6.1|      1071|          R|       NULL|          8000000|   12-Jun-98|                  NULL|            NULL|               NULL|      The Land Girls|        NULL|  146083|         146083|       -0.981739625|
|                NULL|             NULL|     Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  NULL|            NULL|               NULL|First Love, Last ...|        NULL|   10876|          10876|-0.9637466666666666|
|                NULL|             NULL|  Lionsgate|        6.8|       865|       NULL|     Comedy|           250000|   28-Aug-98|                  NULL|            NULL|               NULL|I Married a Stran...|        NULL|  203134|         203134|          -0.187464|
|                NULL|             NULL|  Fine Line|       NULL|      NULL|       NULL|     Comedy|           300000|   11-Sep-98|                    13|            NULL|               NULL|Let's Talk About Sex|        NULL|  373615|         373615|0.24538333333333334|
|Contemporary Fiction|             NULL|    Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            NULL|Original Screenplay|                Slam|        NULL| 1009819|        1087521|           0.087521|
|                NULL|             NULL|        MGM|       NULL|      NULL|       NULL|       NULL|          1600000|   15-Jan-99|                  NULL|            NULL|               NULL| Mississippi Mermaid|        NULL|   24551|        2624551|        0.640344375|
|                NULL|Christopher Nolan|  Zeitgeist|        7.7|     15133|          R|       NULL|             6000|    4-Apr-99|                  NULL|            NULL|               NULL|           Following|        NULL|   44705|          44705|  6.450833333333334|
+--------------------+-----------------+-----------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+-------------------+
only showing top 7 rows

In [24]:
# Movie is hit or not
df_movies = df_movies.withColumn('Box_Office_Hit',  when(df_movies.Worldwide_Gross > df_movies.Production_Budget * 2, 'Hit').otherwise('Flop'))

df_movies.show(n=7)

+--------------------+-----------------+-----------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+-------------------+--------------+
|       Creative_Type|         Director|Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|      Profit_Margin|Box_Office_Hit|
+--------------------+-----------------+-----------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+-------------------+--------------+
|                NULL|             NULL|   Gramercy|        6.1|      1071|          R|       NULL|          8000000|   12-Jun-98|                  NULL|            NULL|               NULL|      The Land Girls|        NULL|  146083|         146083|       -0.981739625|          Flop|
|                NULL|             NULL|     Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  NULL|            NULL|               NULL|First Love, Last ...|        NULL|   10876|          10876|-0.9637466666666666|          Flop|
|                NULL|             NULL|  Lionsgate|        6.8|       865|       NULL|     Comedy|           250000|   28-Aug-98|                  NULL|            NULL|               NULL|I Married a Stran...|        NULL|  203134|         203134|          -0.187464|          Flop|
|                NULL|             NULL|  Fine Line|       NULL|      NULL|       NULL|     Comedy|           300000|   11-Sep-98|                    13|            NULL|               NULL|Let's Talk About Sex|        NULL|  373615|         373615|0.24538333333333334|          Flop|
|Contemporary Fiction|             NULL|    Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            NULL|Original Screenplay|                Slam|        NULL| 1009819|        1087521|           0.087521|          Flop|
|                NULL|             NULL|        MGM|       NULL|      NULL|       NULL|       NULL|          1600000|   15-Jan-99|                  NULL|            NULL|               NULL| Mississippi Mermaid|        NULL|   24551|        2624551|        0.640344375|          Flop|
|                NULL|Christopher Nolan|  Zeitgeist|        7.7|     15133|          R|       NULL|             6000|    4-Apr-99|                  NULL|            NULL|               NULL|           Following|        NULL|   44705|          44705|  6.450833333333334|           Hit|
+--------------------+-----------------+-----------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+-------------------+--------------+
only showing top 7 rows

In [46]:
df_movies = df_movies.withColumn('Release_Year', year(to_date(df_movies.Release_Date, 'd-MMM-yy')) - 100)

df_movies.show(n=10)

+--------------------+-----------------+-------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+------------+
|       Creative_Type|         Director|  Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|Release_Year|
+--------------------+-----------------+-------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+------------+
|                NULL|             NULL|     Gramercy|        6.1|      1071|          R|       NULL|          8000000|   12-Jun-98|                  NULL|            NULL|               NULL|      The Land Girls|        NULL|  146083|         146083|        1998|
|                NULL|             NULL|       Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  NULL|            NULL|               NULL|First Love, Last ...|        NULL|   10876|          10876|        1998|
|                NULL|             NULL|    Lionsgate|        6.8|       865|       NULL|     Comedy|           250000|   28-Aug-98|                  NULL|            NULL|               NULL|I Married a Stran...|        NULL|  203134|         203134|        1998|
|Contemporary Fiction|             NULL|      Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            NULL|Original Screenplay|                Slam|        NULL| 1009819|        1087521|        1998|
|                NULL|Christopher Nolan|    Zeitgeist|        7.7|     15133|          R|       NULL|             6000|    4-Apr-99|                  NULL|            NULL|               NULL|           Following|        NULL|   44705|          44705|        1999|
|Contemporary Fiction|             NULL|      Artisan|        3.8|       353|          R|     Comedy|          1600000|    9-Apr-99|                  NULL|            NULL|Original Screenplay|             Foolish|        NULL| 6026908|        6026908|        1999|
|                NULL|   Roman Polanski|         NULL|        5.8|      3275|          R|       NULL|         40000000|    1-Jul-86|                    25|            NULL|               NULL|             Pirates|        NULL| 1641825|        6341825|        1986|
|                NULL|             NULL|         NULL|        7.0|      2906|       NULL|       NULL|          6000000|   31-Dec-46|                    86|            NULL|               NULL|     Duel in the Sun|        NULL|20400000|       20400000|        1946|
|                NULL|             NULL|         NULL|        7.0|      4035|       NULL|       NULL|          1000000|    7-Oct-63|                    81|            NULL|               NULL|           Tom Jones|        NULL|37600000|       37600000|        1963|
|                NULL|             NULL|Sony Pictures|        7.5|      9111|       NULL|    Musical|         10000000|   11-Dec-68|                    84|            NULL|               NULL|             Oliver!|        NULL|37402877|       37402877|        1968|
+--------------------+-----------------+-------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+------------+
only showing top 10 rows

In [48]:
df_movies = df_movies.withColumn('IMDB_Rating_Category', when(df_movies.IMDB_Rating >= 7, 'High').when(df_movies.IMDB_Rating >= 5, 'Medium').otherwise('Low'))

df_movies.show(n=10)

+--------------------+-----------------+-------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+------------+--------------------+
|       Creative_Type|         Director|  Distributor|IMDB_Rating|IMDB_Votes|MPAA_Rating|Major_Genre|Production_Budget|Release_Date|Rotten_Tomatoes_Rating|Running_Time_min|             Source|               Title|US_DVD_Sales|US_Gross|Worldwide_Gross|Release_Year|IMDB_Rating_Category|
+--------------------+-----------------+-------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+------------+--------------------+
|                NULL|             NULL|     Gramercy|        6.1|      1071|          R|       NULL|          8000000|   12-Jun-98|                  NULL|            NULL|               NULL|      The Land Girls|        NULL|  146083|         146083|        1998|              Medium|
|                NULL|             NULL|       Strand|        6.9|       207|          R|      Drama|           300000|    7-Aug-98|                  NULL|            NULL|               NULL|First Love, Last ...|        NULL|   10876|          10876|        1998|              Medium|
|                NULL|             NULL|    Lionsgate|        6.8|       865|       NULL|     Comedy|           250000|   28-Aug-98|                  NULL|            NULL|               NULL|I Married a Stran...|        NULL|  203134|         203134|        1998|              Medium|
|Contemporary Fiction|             NULL|      Trimark|        3.4|       165|          R|      Drama|          1000000|    9-Oct-98|                    62|            NULL|Original Screenplay|                Slam|        NULL| 1009819|        1087521|        1998|                 Low|
|                NULL|Christopher Nolan|    Zeitgeist|        7.7|     15133|          R|       NULL|             6000|    4-Apr-99|                  NULL|            NULL|               NULL|           Following|        NULL|   44705|          44705|        1999|                High|
|Contemporary Fiction|             NULL|      Artisan|        3.8|       353|          R|     Comedy|          1600000|    9-Apr-99|                  NULL|            NULL|Original Screenplay|             Foolish|        NULL| 6026908|        6026908|        1999|                 Low|
|                NULL|   Roman Polanski|         NULL|        5.8|      3275|          R|       NULL|         40000000|    1-Jul-86|                    25|            NULL|               NULL|             Pirates|        NULL| 1641825|        6341825|        1986|              Medium|
|                NULL|             NULL|         NULL|        7.0|      2906|       NULL|       NULL|          6000000|   31-Dec-46|                    86|            NULL|               NULL|     Duel in the Sun|        NULL|20400000|       20400000|        1946|                High|
|                NULL|             NULL|         NULL|        7.0|      4035|       NULL|       NULL|          1000000|    7-Oct-63|                    81|            NULL|               NULL|           Tom Jones|        NULL|37600000|       37600000|        1963|                High|
|                NULL|             NULL|Sony Pictures|        7.5|      9111|       NULL|    Musical|         10000000|   11-Dec-68|                    84|            NULL|               NULL|             Oliver!|        NULL|37402877|       37402877|        1968|                High|
+--------------------+-----------------+-------------+-----------+----------+-----------+-----------+-----------------+------------+----------------------+----------------+-------------------+--------------------+------------+--------+---------------+------------+--------------------+
only showing top 10 rows

In [53]:
df_movies_new = df_movies.groupBy(df_movies.Distributor).avg('IMDB_Rating')

df_movies_new.show(n=10)

+--------------------+------------------+
|         Distributor|  avg(IMDB_Rating)|
+--------------------+------------------+
|Oscilloscope Pict...|               6.2|
|               Savoy| 6.533333333333334|
|             Embassy|              NULL|
|         Fader Films|               6.5|
|       October Films|               6.4|
|              Strand| 6.322222222222223|
|             Trimark| 5.085714285714286|
|              Matson|               7.3|
|      Cinema Service|               7.1|
| Weinstein/Dimension|5.7250000000000005|
+--------------------+------------------+
only showing top 10 rows

In [54]:
spark.stop()